<h2>All Animals</h2>


<form method="Get" action="/animals/new" >
  <input type="submit" value="Add a new animal"/>

</form>


<ul>
<% @animal.each do |animal| %>
<li>
<p><strong>Name:</strong> <%= animal.name()%></p>

<img height ="160px"  src = "<%=animal.photo%>" alt ="<%=animal.name%>">


<p><a href="/animals/<%= animal.id %>">Click here for more details</a></p>
</li>
<% end %>
</ul>
