<h1>Add a new animal</h1>

<form action='/animals' method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="type">Type:</label>
  <input type="text" name="type" id="type"/>

  <label for="age">Age:</label>
  <input type="number" name="age" id="age"/>

  <label for="arrival_date">Arrival Date:</label>
  <input type="date" name="arrival_date" id="arrival_date"/>

  <label for="adoption_status">Adoption Status:</label>
  <select name="adoption_status" id="status">
    <option value="Adopted">Adopted</option>
    <option value="Ready for a new home">Ready for a new home</option>
    <option value="Being trained">Being trained</option>
  </select>

  <input type="submit" value="Add new animal" />

</form>
