<h1>Successful Adoptions:</h1>


<ul>
<% for adoption in @adopt %>
<li>
<p><%= adoption.animal.name%> & <%= adoption.owner.name %></p>

</li>
<% end %>
</ul>

<p><a href="/adoption/new">Click here to create a new match</a></p>
