<h2>Successful Adoptions</h2>


<ul>
<% for adoption in @adopt %>
<li>
<p><%= adoption.owner.name %> adopted <%= adoption.animal.name%> the <%= adoption.animal.type%>  </p>

</li>
<% end %>
</ul>

<p><a href="/adoption/new">Click here to create a new match</a></p>
