<h2>Successful Adoptions</h2>


<ul>
  <style> li span {position: relative; left: -20px;} </style>
<% for adoption in @adopt %>
<li>
<p><span><%= adoption.owner.name %> adopted <%= adoption.animal.name%> the <%= adoption.animal.type%>  </span></p>

</li>
<% end %>
</ul>

<p><a href="/adoption/new">Click here to create a new match</a></p>
