<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animal Sanctuary</title>
</head>
<body>
  <nav>
    <ul>

      <li><a href="/animals">View all animals</a></li>

      <!-- <li><a href="/animals/new">Add an animal</a></li> -->




<!--
<li><a href="/owners/new">Register as an Owner</a></li> -->

  </ul>
</nav>
 <%= yield %>
</body>
</html>
