<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>Animal Sanctuary</title>

  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body
  background="images/dog.jpg">
  <nav>
    <ul>

      <li><a href="/animals">View all animals</a></li>

      <li><a href="/owners">Register a new Owner</a></li>

      <li><a href="/adoption">View successful matches here</a></li>

      <li><a href="/animal-shelter">Home Page</a></li>

    </ul>
  </nav>
  <%= yield %>
</body>
</html>
