main {
  background: url('/images/dog.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Kavivanar', cursive;

  justify-content: center;
}
p {
  color: #424874;
  justify-content: center;
  box-sizing: content-box;

}
