body {
  background: #E3E9F2 url('/images/dog.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;

}

h1 {
  font-family: 'Kavivanar', cursive;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: 'Kavivanar', cursive;
  margin: 40px
}

p {
  color: #424874;
  justify-content: center;
  box-sizing: content-box;
  margin: 30px

}

ul {
  margin: 0px;

}


nav {
  margin: 20px auto;
  letter-spacing: 4px;
  font weight: 600;
}

nav li {
  text-align: center;
  list-style-type: none;
}

form {
  margin: 25px
}
