<h2>Current Owners:</h2>


<ul>
<% @owner.each do |owner| %>
<li>
<p><strong>Name:</strong> <%= owner.name()%></p>
<p><strong>Age:</strong> <%= owner.age()%></p>


</li>

<p><a href="/owners/<%= owner.id %>">Click here for more details</a></p>


<% end %>
</ul>



<form method="Get" action="/owners/new" >
  <input type="submit" value="Register a new owner"/>

</form>
