<h1>Current Owners:</h1>



<% @owner.each do |owner| %>

<p>Name: <%= owner.name()%></p>
<p>Age: <%= owner.age()%></p>



<% end %>

<p><a href="/owners/new">Click here to register a new owner</a></p>
