<h2>Current Owners:</h2>


<ul>
  <style> li span {position: relative; left: -20px;} </style>
<% @owner.each do |owner| %>
<li>
<p><span><strong>Name:</strong> <%= owner.name()%></span></p>
<p><span><strong>Age:</strong> <%= owner.age()%></span></p>




<p><span><a href="/owners/<%= owner.id %>">Click here for more details</a></span></p>
</li>

<% end %>
</ul>



<form method="Get" action="/owners/new" >
  <input type="submit" value="Register a new owner"/>

</form>
