
<h2>About <%=@owner.name()%>:</h2>

<p><strong>Name:</strong> <%= @owner.name()%></p>
<p><strong>Age:</strong> <%= @owner.age()%></p>




<form method="Post" action="/owners/<%= @owner.id %>/delete" >
  <input type="submit" value="Delete"/>

</form>
